/*--------------------------------------------------------------------------*/

/*TODO GLOBAL*/

/*--------------------------------------------------------------------------*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------*/

/*FOOTER GLOBAL*/

/*--------------------------------------------------------------------------*/

body {
    background-color: #f3f3f3;
}

footer {
    position: relative;
    font-size: 16px;
}

footer a {
    color: black;
}

/*--------------------------------------------------------------------------*/

/*NAV GLOBAL*/

/*--------------------------------------------------------------------------*/

.form-group label {
    font-weight: bold;
    font-size: 20px;
}

.form-group input {
    width: 40%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 49px;
}

.navbar-brand img#imglogo1 {
    margin-top: 32px;
    width: 120px;
    height: auto;
}

.user-section {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}


.user-name {
    font-weight: bold;
    margin-top: auto;
}


/*--------------------------------------------------------------------------*/

/*INDEX*/

/*--------------------------------------------------------------------------*/

/*Estilo contenido de todo*/
.home .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*estilo del card global inicio de sesion*/
.home .card {
    width: 100%;
    max-width: 600px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*imagen del card*/
.home .card img {
    width: 30%;
}

/*input usuario y contraseña*/
.home .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

/*boton ingresar*/
.home .btn-primary {
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

/*--------------------------------------------------------------------------*/

/*FORMULARIO*/

/*--------------------------------------------------------------------------*/


/*Recuadro todo formulario general*/
.formulario .container-index {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 3em;
    margin-left: 3em;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

/*Tabla del formulario*/
.formulario .table {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario .table input,
.formulario .table select {
    margin-right: 0px;
}

.formulario .table input.horas {
    width: 60px;
}


.formulario .desplegable {
    background-color: #5f6970;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}



.formulario #agregar-fila {
    width: auto;
    height: 40px;
    font-size: 17px;
}

/*Lineas de separacion*/

.formulario .section,
.formulario .section1,
.formulario .section3 {
    border-top: 4px solid #c7c7c7;
    padding-top: 20px;
    margin-top: 20px;
    clear: right;
}

.formulario .section h2 {
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #848e95;
    border-radius: 4px;
    display: inline-block;
}

/*Estilos botones de desplieges cerrar/abrir secciones*/

.formulario .toggleable-section,
.formulario .toggleable-observaciones {
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    max-height: 2000px;
}

.formulario .toggleable-section.hidden,
.formulario .toggleable-observaciones.hidden {
    max-height: 0;
    transition-delay: 0s;
}

.formulario #toggleObservaciones,
.formulario #toggleSection {
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
}

.formulario #toggleSection,
.formulario #btnRefresh {
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

/*Estilo apartado de recorddatorio texto abajo de observaciones*/

.formulario .anotaciones h2 {
    margin-top: 20px;
    font-size: 26px;
}

.formulario .anotaciones li {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

/* Estilos del modal */

.formulario .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.formulario .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    text-align: center;
}

.formulario .modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

.formulario .modal h2 {
    color: #333;
}

.formulario .modal ul {
    list-style: none;
    padding: 0;
}

.formulario .modal li {
    margin-bottom: 10px;
}

.formulario .modal .accept-btn {
    width: 23%;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.formulario .terms h2 {
    color: red;
    font-size: 28px;
    margin-bottom: 10px;
}

.formulario .terms ul {
    list-style-type: none;
    padding: 0;
}

.formulario .terms li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
}
